/* for header styles*/
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  transition: .3s linear;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.header-container img {
  width: 120px;
  object-fit: cover;
}

.header-container.sticky {
  background: var(--white-color);
  box-shadow: 0 .5rem 1rem var(--shadow-color);
} 

.navbar {
  gap: 3rem;
}

.navbar a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: var(--dark-color);
}
  
  /* end of header styles*/