.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'leftContainer rightContainer';
  place-items: center;
}
.leftContainer {
  grid-area: leftContainer;
}
.image {
  width: 350px;
  height: 350px;
  background: purple;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 10px 3px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 10px 3px rgba(66, 68, 90, 1);
}
.image svg {
  width: 100%;
  height: 100%;
}
.rightContainer {
  grid-area: rightContainer;
  padding-right: 5rem;
}
.rightContent h6 {
  text-align: justify;
  word-spacing: -1px;
  line-height: 20px;
}
.rightContent {
  padding: 2rem;
}
.about-group {
  background: var(--main-color);
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding: 10px;
  border-radius: 10px;
  margin: 1rem 0 0 0;
}
.about-group  {
  color: var(--white-color);
}

@media (max-width: 768px) {
  .about-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'leftContainer' 'rightContainer';
  }
  .rightContent {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .rightContainer {
    padding-right: 0;
  }
  .image {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 425px) {
  .about-group h6 {
    font-size: 1rem;
  }
} 