.skillsContainer {
    padding: 7rem 7%;
    display: block;
    align-items: space-between;
    justify-content: space-between;
    flex-direction: column;
}

.progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
}
.progress-container .progress {
    background: #A591C6;
    width: 300px;
    margin: 0 0 0 5rem ;
    display: flex;
    align-items: center;
    height: 7px;
}

 .progress  .MuiTypography-root {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin: -13px 0 0 -25px;
    background: var(--main-color);
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: var(--white-color);
} 
.leftSkills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}
 .leftSkills ul li {
    list-style: none;
    margin: 0 0 0 -15px;
}

.youngIT img {
    width: 550px;
    object-fit: cover;
}

.progress-figma {
    width: 50%;
    height: 10px;
    background: var(--main-color) ;
}
.progress-canva {
    width: 65%;
    height: 10px;
    background: var(--main-color) !important;
}
.progress-photoshop {
    width: 80%;
    height: 10px;
    background: var(--main-color) !important;
}
.progress-html {
    width: 95%;
    height: 10px;
    background: var(--main-color) !important;
}
.progress-css {
    width: 90%;
    height: 10px;
    background: var(--main-color) !important;
}
.progress-javascript {
    width: 85%;
    height: 10px;
    background: var(--main-color) !important;
}
.progress-bootstrap {
    width: 70%;
    height: 10px;
    background: var(--main-color) !important;
}
.progress-mui {
    width: 70%;
    height: 10px;
    background: var(--main-color) !important;
}
.progress-react {
    width: 75%;
    height: 10px;
    background: var(--main-color) !important;
}
.progress-nodejs {
    width: 70%;
    height: 10px;
    background: var(--main-color) !important;
}
.progress-django {
    width: 75%;
    height: 10px;
    background: var(--main-color) !important;
}
.progress-mysql {
    width: 90%;
    height: 10px;
    background: var(--main-color) !important;
}
.progress-sqlite {
    width: 90%;
    height: 10px;
    background: var(--main-color) !important;
}
.progress-git {
    width: 90%;
    height: 10px;
    background: var(--main-color) !important;
}
.progress-github {
    width: 90%;
    height: 10px;
    background: var(--main-color) !important;
}

@media (max-width: 1024px) {
    .youngIT img {
        width: 400px;
    }
}
@media (max-width: 768px) {
    .youngIT img {
        display: none;
    }
    .progress-container .progress {
        width: 455px;
    }
}
@media (max-width: 425px) {
    .progress-container .progress {
        width: 190px;
    }
}
@media (max-width: 375px) {
    .progress-container .progress {
        width: 150px;
    }
}
@media (max-width: 320px) {
    .progress-container .progress {
        width: 100px;
    }
}