.projects-container {
    background: #2c2c2c;
    height: 100vh;
    padding: 7rem 4%;
    position: relative;
    z-index: 99;
}
.projects-container h1 {
    text-align: center;
}
.projects-container h1 {
    color: var(--white-color);
}
/* .tab-buttons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem;
}
.tab-buttons button {
    padding: 1rem 2rem;
    border-radius: 5px;
    background: var(--main-color);
    font-size: 16px;
    color: var(--white-color);
    font-weight: 500;
    transition: .3s ease;
}
.tab-buttons button:hover {
    background: var(--hover-color);
} */
.tab-content {
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
}