@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Source+Code+Pro:ital,wght@0,400;0,600;1,700&display=swap');

*, html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  border: none;
  outline: none;
}

:root {
  --bg-color1: #212121;
  --bg-color2: #2c2c2c;
  --dark-color: #000;
  --white-color: #fff;
  --main-color: #613DC1;
  --hover-color: #442892;
  --shadow-color: rgba(0,0,0,0.2);
  --secondary-color: maroon;
}

html {
  font-size: 60.5%;
  overflow-x: hidden;
}

 body {
  background: var(--bg-color1);
} 

section {
  background: var(--bg-color1);
  height: 100vh;
  color: var(--white-color);
}

html h1 {
  font-size: 40px;
  font-weight: 700;
}
html h2 {
  font-size: 32px;
  font-weight: 600;
}
html h3 {
  font-size: 24px;
  font-weight: 600;
}

html h4 {
  font-size: 20px;
  font-weight: 500;
}
html h5 {
  font-size: 16px;
  font-weight: 500;
}

html h6 {
  font-size: 14px;
  font-weight: 400;
}
html p {
  font-size: 12px;
  font: 400;
}

/* for scroll bar */
::-webkit-scrollbar{
  width: 3px;
  height: 3px;
}

/* for track */ 
::-webkit-scrollbar-track{
  background: var(--bg-color2);
}

/* for handle */
::-webkit-scrollbar-thumb{
  background: var(--bg-color1);
}


/* for handle hover */
::-webkit-scrollbar-thumb:hover{
  background: var(--main-color);
}

@media (max-width: 1024px) {
  html {
    font-size: 55%;
  }
}