@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Source+Code+Pro:ital,wght@0,400;0,600;1,700&display=swap');

*, html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
p {
  font-size: 14px;
}

/* for header styles*/
.header-container {
  background-color: grey;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
}

.header-container .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
}

.header-container ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}

.header-container li {
  list-style: none;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img{
  width: 100px;
  height: 30px;
  object-fit: contain;
}

/* end of header styles*/


/* for hero banner styles*/
.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "heroLeft-container heroRight-container";
  width: 100%;
  height: 100%;
  place-items: center;
}

.heroLeft-container {
  grid-area: heroLeft-container;
  padding: 0 5rem;
  animation-name: slidein;
  animation-duration: 1s ;
  width: 100%;
}

.heroRight-container {
  grid-area: heroRight-container;
}

.heroRight-container img {
  width: 400px;
}

.logos {
  width: 500px;
  overflow: hidden;
  display: flex;
  padding: 0 1rem;
}

.logos-slide {
  white-space: nowrap;
  animation: 20s slide infinite linear;
  object-fit: cover ;
  padding: 5px;
  display: flex;
  align-items: center;
}

.logos-slide img {
  height: 50px;
  margin: 0 10px 0 10px;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slidein {
  from {
    margin-left: -50%;
  }
  to {
    margin-left: 0%;
  }
}

/* end of hero banner styles*/

/* for about styles*/
.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "aboutLeft-container aboutRight-container";
  height: 100vh;
  place-items: center;
  background-color: #ffffff;
}

.aboutLeft-container {
  grid-area: aboutLeft-container;
  height: 100%;
  width: 100%;
}

.unorder-container li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 0;
}

.unorder-container li img {
  object-fit: contain;
  width: 50px;
  height: 30px;
}

.aboutRight-container {
  grid-area: aboutRight-container;
  height: 100%;
  width: 100%;
}
/* end of about styles*/

/* for services styles*/

.services-container {
  background-color: #cccccc;
  height: 100vh;
}


/* end of services styles*/


/* for skills styles*/

.skills-container {
  background-color: #ffffff;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "left right";
}

.skills-left {
  grid-area: left;
}

.skills-right {
  grid-area: right;
}
/* end of skills styles*/

/* for projects styles*/

.projects-container {
  background-color: #cccccc;
  height: 100vh;
}
/* end of projects styles*/
