@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Source+Code+Pro:ital,wght@0,400;0,600;1,700&display=swap');

*, html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  border: none;
  outline: none;
}

:root {
  --bg-color1: #fdfdfd;
  --bg-color2: #cccccc;
  --text-color: #333;
  --main-color: #230B3D;
  --white-color: #fdfdfd;
  --shadow-color: rgba(0,0,0,0.2);
  --secondary-color: maroon;
}

html {
  /* font-size: 62.5%; */
  overflow-x: hidden;
}

body {
  color: var(--text-color);
}


h1 {
  font-size: 40px;
  font-weight: 900;
}
h2 {
  font-size: 32px;
  font-weight: 800;
}
h3 {
  font-size: 24px;
  font-weight: 700;
}
h4 {
  font-size: 20px;
  font-weight: 600;
}
h5 {
  font-size: 16px;
  font-weight: 500;
}
h6 {
  font-size: 14px;
  font-weight: 400;
}
p {
  font-size: 12px;
  font-weight: 300;
}
/* for services styles*/

.services-container {
  background-color: #cccccc;
  height: 100vh;
}


/* end of services styles*/


/* for skills styles*/

.skills-container {
  background-color: #ffffff;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "left right";
}

.skills-left {
  grid-area: left;
}

.skills-right {
  grid-area: right;
}
/* end of skills styles*/

/* for projects styles*/

.projects-container {
  background-color: #cccccc;
  height: 100vh;
}
