.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'home-content profession-container';
  transition: 0.5s ease;
}
.home.noDisplay{
  display: none;
  transition: 0.5s ease;
}
.home-content {
  grid-area: home-content;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 8%;
  overflow: hidden;
}
.home-content .home-container {
  max-width: 50rem;
  overflow: hidden;
}
.logos-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.logos-slide {
  display: inline-flex;
  animation: slide 15s linear infinite;
}
.logos-slide h3 {
  margin-right: 20px;
}
.home .profession-container {
  grid-area: profession-container;
  /* background: purple; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden !important; */
}
.profession-container .profession-box {
  width: 550px;
  height: 550px;
  border: 5px solid var(--main-color);
  border-radius: 50%;
  /* background: red; */
  margin-top: -5rem;
  animation: professioRotate 10s ease-out infinite;
  position: fixed;
}
.profession-container .overlay {
  width: 100%;
  height: 100%;
  background: var(--main-color);
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 48% 50%, 0% 0%);
}
.profession-box .profession img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.profession-box .profession {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: rotate(calc(360deg/4 * var(--i)));
  transform-origin: 300px;
  left: 0;
  top: 40%;
  background: var(--bg-color1);
  padding: 13px 15px;
}

.home .profession-box .profession:nth-child(1) {
  margin-left: -6rem;
  margin-top: 2rem;
}
.home .profession-box .profession:nth-child(2) {
  margin-top: -3rem;
  margin-left: -4rem;
}
.home .profession-box .profession:nth-child(3) {
  margin-left: 1rem;
  margin-top: -3rem;
}
.home .profession-box .profession:nth-child(4) {
  margin-top: 3rem;
  margin-left: -1rem;
}

.hero-image{
  position: absolute;
  right: 0;
  bottom: 0;
}
.hero-image img {
  width: 550px;
}

@keyframes professioRotate {
  0%, 20% {
      transform: rotate(0deg);
  }
  25%, 45% {
      transform: rotate(-90deg);
  }
  50%, 70% {
      transform: rotate(-180deg);
  }
  75%, 95% {
      transform: rotate(-270deg);
  }
  100% {
      transform: rotate(-360deg);
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes infiniteSlide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 1440px) {
  .hero-image img {
    width: 450px;
  }
}

@media (max-width: 1024px) {
  .profession-container .profession-box {
    margin-left: 20rem;
  }
  .hero-image img {
    width: 370px;
  }
}

@media (max-width: 768px) {
  .home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'home-content' 'profession-container';
  }

  .home-content {
    grid-area: home-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home-content h6 {
    text-align: justify;
  }
  .home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .profession-container {
    grid-area: profession-container;
  }
  .profession-container .overlay {
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0 0, 50% 50%);
  }
  .home .profession-box .profession:nth-child(1) {
    transform: rotate(-90deg) translate(260px, -260px);
  }
  .home .profession-box .profession:nth-child(2) {
    transform: rotate(0deg) translate(250px, -260px);
  }
  .home .profession-box .profession:nth-child(3) {
    transform: rotate(90deg) translate(260px, -240px);
  }
  .home .profession-box .profession:nth-child(4) {
    transform: rotate(180deg) translate(250px, -240px);
  }
  .profession-container .profession-box {
    margin-top: 35rem;
    margin-left: 0;
  }
  .hero-image img {
    display: none;
  }
}
@media (max-width: 390px) {
  .home-content h1 {
    font-size: 4rem;
  }
  .profession-container .profession-box {
    margin-top: 20rem;
  }
  .profession-container .profession-box img {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
  .home .profession-box .profession:nth-child(1) {
    transform: rotate(-90deg) translate(245px, -240px);
  }
  .home .profession-box .profession:nth-child(2) {
    transform: rotate(0deg) translate(250px, -230px);
  }
  .home .profession-box .profession:nth-child(3) {
    transform: rotate(90deg) translate(270px, -230px);
  }
  .home .profession-box .profession:nth-child(4) {
    transform: rotate(180deg) translate(250px, -230px);
  }
}

@media (max-width: 375px) {
  .home-content .home-container {
    max-width: 40rem !important;
  }
}

@media (max-width: 414px) {
  .home-content .home-container {
    max-width: 35rem;
    padding: 0 1.5rem;
    /* background: yellow; */
  }
}

@media (max-width: 425px) {
  .home-content .home-container {
    max-width: 45rem;
  } 
}