/* for hero banner styles*/
.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    grid-template-areas: "heroLeft heroRight";
    height: 100vh;
    width: 100vw;
  }

.heroLeft-container {
    grid-area: heroLeft;
    height: 100%;
    width: 100%;
  }
  
.heroRight-container {
    grid-area: heroRight;
    /* background-color: brown; */
    height: 100%;
    width: 100%;
    z-index: 9;
  }

.logos {
  position: absolute;
  overflow: hidden;
  display: flex;
  width: 500px;
  }
  
  .logos-slide {
    animation: 18s slide infinite linear;
    padding: 10px 5px;
    align-items: center;
    display: flex;
  }
  
  .logos-slide img {
    height: 50px;
    margin: 0 10px 0 10px;
  }
  
  .heroLeft-container h3 {
    /* display: flex; */
    font-size: 24px;
    font-weight: 700;
  }
  
  .heroLeft-container h1 {
    font-size: 40px;
    font-weight: 900;
  }
  
  .heroLeft-container p {
    font-size: 14px;
    font-weight: 500;
  }

  .heroLeft-container label {
    font-size: 14px;
    font-weight: 600;
    color: var(--main-color);
  }

/* .profession {
    display: flex;
    justify-content: center;
    align-items: center;
}  */
.profession img {
    width: 60px;
}
.profession h3 {
    font-size: 2.5rem;
    font-weight: 900;
}
  
.hero-container .heroRight-box {
    position: absolute;
    width: 700px;
    height: 700px;
    margin: 10% auto;
    /* top: 20rem;*/
    /* padding: 5rem; */
    /* background: purple; */
    border: 5px solid var(--main-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: professioRotate 5s ease-out infinite;
  } 

  @keyframes professioRotate {
    0%, 20% {
        transform: rotate(0deg);
    }
    25%, 45% {
        transform: rotate(-90deg);
    }
    50%, 70% {
        transform: rotate(-180deg);
    }
    75%, 95% {
        transform: rotate(-270deg);
    }
    100% {
        transform: rotate(-360deg);
    }
  }

  .heroRight-container .heroRight-box .profession {
    position: absolute;
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg/ 4 * var(--i)));
    transform-origin: 360px;
    left: 0;
    background: var(--bg-color1);
    padding: 1rem 2rem ;
  }

  .heroRight-container .heroRight-box .profession img {
    object-fit: cover;
  }

  .heroRight-container .heroRight-box .profession:nth-child(1) {
    margin-left: -13rem; 
  }

  .heroRight-container .heroRight-box .profession:nth-child(2) {
    margin-top: -17rem;
  }

  .heroRight-container .heroRight-box .profession:nth-child(3)  {
    margin-left: 11rem;
  }
  .heroRight-container .heroRight-box .profession:nth-child(4) {
    margin-bottom: -14rem;
  }
 

   .hero-container .heroRight-container .overlay {
    position: relative;
    height: 100vh;
    background-color: var(--main-color);
    -webkit-clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 49% 54%, 0% 0%);
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 49% 54%, 0% 0%);
  } 

  .hero-container .heroRight-container .image img{
    position: absolute;
    top: 20%;
    right: 5%;
    width: 600px;
    height: 600px;
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  @keyframes slidein {
    from {
      margin-left: -50%;
    }
    to {
      margin-left: 0%;
    }
  }
  
  /* end of hero banner styles*/

  @media only screen and (max-width: 1024px)  {

    .hero-container {
      display: grid;
      grid-template-columns: 1fr;
      place-items: center;
      grid-template-areas: "heroLeft" "heroRight";
      height: 100vh;
      width: 100vw;
    }
    .hero-container .heroRight-container .overlay {
      -webkit-clip-path: polygon(54% 79%, 100% 48%, 100% 100%, 0 100%, 0 45%);
      clip-path: polygon(54% 79%, 100% 48%, 100% 100%, 0 100%, 0 45%);
    }
    .heroRight-container .heroRight-box {
      margin-top: 20rem;
      margin-left: 10rem;
    }
    /* .heroRight-container .heroRight-box .profession {
      transform: rotate(270deg);
    } */
  }